<footer class="site-footer">
  <div class="container my-5 text-center">
    <p class="text-muted small mb-2">
      ©
      <a href="https://tobiha.de" target="_blank">Tobias Hagemann</a>
      •
      <span l10nTranslate>Inspired by</span>
      <a href="https://www.youtube.com/watch?v=upm6SfYuGX4" target="_blank">Der Scheiß ist heiß</a>
      <span l10nTranslate>on</span>
      <a href="https://www.zdf.de/comedy/neo-magazin-mit-jan-boehmermann/" target="_blank">NEO MAGAZIN ROYALE</a>
      •
      <a routerLink="/impressum">Impressum</a>
    </p>
    <p class="text-muted small mb-2">
      <span l10nTranslate>Made with</span>
      <a href="https://angular.io" target="_blank">Angular</a>
      <span l10nTranslate>and</span>
      <a href="https://getbootstrap.com" target="_blank">Bootstrap</a>
      •
      <span l10nTranslate>Hosted on</span>
      <a href="https://pages.github.com" target="_blank">GitHub Pages</a>
      •
      <span l10nTranslate>Source Code at</span>
      <a href="https://github.com/tobihagemann/shitishot" target="_blank">GitHub</a>
    </p>
    <p class="text-muted small">
      <span l10nTranslate>Titles Source</span>:
      <span l10nTranslate>{{getTitlesSource()}}</span>
      •
      <span l10nTranslate>Search Results Source</span>:
      <span l10nTranslate>{{getSearchResultsSource()}}</span>
    </p>
  </div>
</footer>
