<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <img class="nav-logo mr-2" src="assets/logo-nav.png" srcset="assets/logo-nav@2x.png 2x">
      <span class="align-center" l10nTranslate>Title</span>
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link nav-link-icon" routerLink="/settings" routerLinkActive="active">
          <span class="fas fa-cog"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
