<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
  <div class="container">
    <a class="navbar-brand" routerLink="/" l10nTranslate>Title</a>
    <div class="nav-item dropdown" placement="bottom-right" ngbDropdown>
      <a class="nav-link dropdown-toggle" id="languageDropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
        <span class="fas fa-globe"></span> {{currentLocale.text}}
      </a>
      <div class="dropdown-menu" aria-labelledby="languageDropdown" ngbDropdownMenu>
        <a *ngFor="let locale of locales" class="dropdown-item" (click)="selectLocale(locale)">{{locale.text}}</a>
      </div>
    </div>
  </div>
</nav>

<div class="container py-5">
  <router-outlet></router-outlet>
</div>
