<div *ngIf="loadingGame">
  <p class="text-center">
    <span class="fas fa-fire text-primary"></span>
    <span l10nTranslate>Loading Game</span>
  </p>
</div>

<div *ngIf="!loadingGame">
  <div *ngIf="words.length > 0" class="mb-4">
    <div *ngIf="results.length == 0" class="d-flex justify-content-center mb-4">
      <div *ngIf="nextTitle" class="card card-next grabbable" draggable="true" (dragstart)="onNextTitleDragStart($event)" (dragenter)="onNextTitleDragEnter($event)" (dragover)="onNextTitleDragOver($event)" (dragleave)="onNextTitleDragLeave()" (dragend)="onNextTitleDragEnd()">
        <div class="card-body">
          <p class="card-text">{{nextTitle}}</p>
        </div>
      </div>
      <button *ngIf="!nextTitle" class="btn btn-primary btn-lg btn-show-results" (click)="showResults()" l10nTranslate>Show Results</button>
    </div>

    <div class="card-group">
      <div *ngFor="let title of titles; index as i" class="card d-flex flex-row flex-sm-column">
        <div *ngIf="results.length == 0" class="card-body grabbable" [class.card-highlight]="dragOverTitleIndex == i" draggable="true" (dragstart)="onTitleDragStart($event, i)" (dragenter)="onTitleDragEnter($event)" (dragover)="onTitleDragOver($event, i)" (dragleave)="onTitleDragLeave()" (dragend)="onTitleDragEnd()">
          <p class="card-text">{{titles[i] || '&nbsp;'}}</p>
        </div>
        <div *ngIf="results.length > 0 &amp;&amp; results[i]" class="card-body" [class.bg-success]="results[i]">
          <p class="card-text text-white">
            <span class="fas fa-check fa-fw"></span> {{titles[i] || '&nbsp;'}}
          </p>
        </div>
        <div *ngIf="results.length > 0 &amp;&amp; !results[i]" class="card-body" [class.bg-success]="results[i]">
          <p class="card-text">
            <span class="fas fa-times text-danger fa-fw"></span> {{titles[i] || '&nbsp;'}}
          </p>
          <p class="card-text">
            <span class="fas fa-check fa-fw"></span> {{sortedWords[i].title}}
          </p>
        </div>
        <div class="card-footer card-footer-searchresults d-flex align-items-center">
          <small class="text-muted" l10nDecimal>{{searchResults[i]}}</small>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-outline-secondary" (click)="newGame()" l10nTranslate>New Game</button>
  </div>
</div>
