@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.card-next {
  background-color: $primary;
  color: color-yiq($primary);
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: calc(100% * .2);
  }
}

.card-text-height {
  @include media-breakpoint-up(sm) {
    min-height: 3rem * $line-height-base;
  }
}

.card-body-single-line {
  @include media-breakpoint-only(xs) {
    overflow: hidden;
  }
}

.card-text-single-line {
  @include media-breakpoint-only(xs) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.card-footer-search-results {
  @include media-breakpoint-only(xs) {
    border-left: $card-border-width solid $card-border-color;
    border-top: none;
    @include border-left-radius(0);
  }
}

.card-body-dragover {
  background-color: $secondary;
  color: $white;
}

.card-body-dragged {
  background-color: $light;
}

.btn-show-results {
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: calc(100% * .4);
  }
}

.grabbable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.droppable > * {
  pointer-events: none;
}
