html {
  font-size: 14px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}

.blockquote {
  border-left: $border-width * 4 solid $border-color;
  font-size: $font-size-base;
  padding: 0 $spacer;
}
