<div class="mb-4">
  <div class="form-group">
    <label for="language" l10nTranslate>Language</label>
    <select class="form-control" id="language" name="language" [(ngModel)]="currentLocale">
      <option *ngFor="let locale of locales" [ngValue]="locale" [selected]="currentLocale == locale">{{locale.text}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="wordTitleSource" l10nTranslate>Source for Words</label>
    <select class="form-control" id="wordTitleSource" name="wordTitleSource" [(ngModel)]="wordTitleSource">
      <option *ngFor="let source of wordTitleSources" [ngValue]="source" [selected]="wordTitleSource == source">{{source}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="wordSearchResultsSource" l10nTranslate>Source for Search Results</label>
    <select class="form-control" id="wordSearchResultsSource" name="wordSearchResultsSource" [(ngModel)]="wordSearchResultsSource">
      <option *ngFor="let source of wordSearchResultsSources" [ngValue]="source" [selected]="wordSearchResultsSource == source">{{source}}</option>
    </select>
  </div>
</div>

<button type="button" class="btn btn-outline-secondary" routerLink="/" l10nTranslate>Back</button>
