<div class="form-group">
  <label for="language" l10nTranslate>Language</label>
  <select class="form-control" id="language" name="language" [(ngModel)]="currentLocale">
    <option *ngFor="let locale of locales" [ngValue]="locale" [selected]="currentLocale == locale">{{locale.text}}</option>
  </select>
</div>

<div class="form-group">
  <label for="titlesSource" l10nTranslate>Titles Source</label>
  <select class="form-control" id="titlesSource" name="titlesSource" [(ngModel)]="titlesSource">
    <option *ngFor="let source of titlesSources" [ngValue]="source" [selected]="titlesSource == source" l10nTranslate>{{source}}</option>
  </select>
</div>

<div class="form-group">
  <label for="searchResultsSource" l10nTranslate>Search Results Source</label>
  <select class="form-control" id="searchResultsSource" name="searchResultsSource" [(ngModel)]="searchResultsSource">
    <option *ngFor="let source of searchResultsSources" [ngValue]="source" [selected]="searchResultsSource == source" l10nTranslate>{{source}}</option>
  </select>
</div>

<div class="mb-3">
  <p class="mb-2" l10nTranslate>Instructions</p>
  <blockquote class="blockquote">
    <p class="mb-1" l10nTranslate>Instructions Text</p>
    <footer class="blockquote-footer">
      Ralf Kabelka in
      <cite l10nTranslate>NEO MAGAZIN ROYALE Episode 92</cite>
    </footer>
  </blockquote>
</div>

<div class="mb-3">
  <p class="mb-2" l10nTranslate>Tutorial</p>
  <button type="button" class="btn" [ngClass]="{'btn-outline-secondary': !tutorialIsReset, 'btn-success': tutorialIsReset}" (click)="resetTutorial()">
    <span *ngIf="!tutorialIsReset" class="fas fa-times-circle fa-fw"></span>
    <span *ngIf="tutorialIsReset" class="fas fa-check fa-fw"></span>
    <span l10nTranslate>Reset Tutorial</span>
    <span l10nTranslate></span>
  </button>
</div>
